@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #003049;
    --secondary-color: #FCBF49;
    --accent1-color: #EAE2B7;
    --accent2-color: #F77F00;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Oswald', sans-serif;

    --nav-background-color: #EAE2B7;
    --nav-link-color: #99330f;
    --nav-hover-link-color: #b3561b;
    --nav-hover-background-color: #eae2b7;
    --max-width: 960px
}

body {
    font-family: var(--paragraph-font);
    max-width: var(--max-width);
    padding: 20px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    align-items: center;
    grid-template-columns: 20% 40%;
    justify-content: space-evenly;
}

header img {
    border-radius: 50%;
}

header nav a{
    font-size: 2rem;
}

.hero {
    margin: 10px auto;
    width: 960px;
    position: relative;
}

.heroimage {
    position: absolute;
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: relative;
    text-align: center;
}

h2{
    text-align: center;
}

article {
 position: absolute;
 background-color: var(--nav-background-color);
 opacity: 79%;
 font-size: 18px;
}

article img {
    float: right;
    width: 200px;
    padding: 30px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

article p{
    padding: 1rem;
    text-align: justify;
}

.history {
    position: relative;
    margin-top: 65%;
}

.history img{
    width: 270px;
}

.history p{
    display: grid;
    gap: 2px;
    grid-template-columns: 2fr 4fr;
    text-align: justify;
    align-items: center;
}

section {
    margin-bottom: 20px;
}

section .figures {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.figures figcaption{
    text-align: center;
}

section img {
    position: relative;
    display: block;
    height: 134px;
    width: 200px;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--nav-background-color);
    align-items: center;
}

footer .center-text{
    justify-content: center;
    width: 300px;
}

footer nav{
    width: 16rem;
    margin-left: 7rem;
}

footer img {
    max-width: 3rem;
    max-height: 3rem;
}